{% extends "base.html" %}

{% block title %}Registration | Vicky Music Academy{% endblock %}

<body class="bodi">
    {% block header %}
        <h2>🎵 Register for Music Classes</h2>
    {% endblock %}

    {% block content %}
    
        <h1 style="color: white;"> Muiiz</h1>
        <h2 style="color: white;"> Muiiz</h2>
    
    <div class="row justify-content-end kalifa">
        <div class="col-sm-5">
            <form action="/register" method="POST" class="p-4 bg-light rounded shadow">
                
                <!-- First Name -->
                <div class="mb-3">
                    <label class="form-label"><b>First Name: </b><input type="text" name="first_name" class="form-control" required></label>
                    
                </div>

                <!-- Last Name -->
                <div class="mb-3">
                    <label class="form-label"><b>Last Name: </b><input type="text" name="last_name" class="form-control" required></label>
                    
                </div>

                <!-- Email -->
                <div class="mb-1">
                    <label class="form-label"><b>Email: </b><input type="email" name="email" class="form-control" required></label>
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label class="form-label"><b>Password:</b><input type="password" name="password" class="form-control" required></label>
                    
                </div>

                <!-- Select Mentor -->
                <div class="mb-3">
                    <label class="form-label"><b>Select Your Mentor: </b>
                    <select name="teacher_id" class="form-select">
                        {% for teacher in teachers %}
                            <option value="{{ teacher.id }}">{{ teacher.name }} - {{ teacher.instruments }}</option>
                        {% endfor %}
                    </select>
                </label>
                </div>

                <!-- Choose an Instrument -->
                <div class="mb-3">
                    <label class="form-label"><b>Choose an Instrument:</b>
                    <select name="instrument" class="form-select">
                        {% for teacher in teachers %}
                            {% for instrument in teacher.instruments.split(",") %}
                                <option value="{{ instrument }}">{{ instrument }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </label>
                </div>

                <!-- Submit Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-100">Register</button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
